html {
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #4b5862;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
  letter-spacing: -0.07rem; }

a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: inherit; }
  a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 2px; }

ul {
  list-style: none;
  padding: 0; }

.button {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-family: inherit;
  background-color: white;
  border-radius: 100px;
  color: #ff525d;
  cursor: pointer;
  border: 0;
  font-weight: 600; }

.button-secondary {
  background-color: transparent;
  border: 1px solid white;
  color: white; }

.container {
  margin: 0 auto;
  max-width: 111rem; }
  .container-px {
    padding: 0 2.4rem; }
  .container-py {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem; }
    @media (min-width: 768px) {
      .container-py {
        padding-top: 16rem;
        padding-bottom: 16rem; } }

header {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 14rem;
  display: flex; }
  @media (min-width: 768px) {
    header {
      height: 16.8rem; } }

.topnav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex; }
  @media (min-width: 768px) {
    .topnav {
      padding: 3.2rem; } }
  .topnav__logo {
    display: inline-block; }
    .topnav__logo img {
      width: 8rem; }
      @media (min-width: 768px) {
        .topnav__logo img {
          width: 10rem; } }
  .topnav__menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block; }
    @media (min-width: 768px) {
      .topnav__menu {
        display: none; } }
  .topnav__links {
    margin-left: 4rem;
    margin-right: auto;
    color: white;
    display: none;
    padding: 0;
    list-style: none;
    position: relative; }
    @media (min-width: 768px) {
      .topnav__links {
        display: block;
        display: flex; } }
    .topnav__links a {
      margin-right: 4rem; }
    .topnav__links a::after {
      content: "";
      position: absolute;
      transform: translateY(10px);
      margin-left: 0.8rem;
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background: url(../images/icon-arrow-light.svg);
      background-repeat: no-repeat; }
    .topnav__links li {
      position: relative; }
    .topnav__links li:hover > ul,
    .topnav__links .dropdown:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      background-color: white; }
    .topnav__links .dropdown {
      top: 0;
      color: #25252d;
      background-color: white;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      display: none; }
  .topnav__cta {
    display: none;
    color: white; }
    @media (min-width: 768px) {
      .topnav__cta {
        display: block; } }
    .topnav__cta a:not(.button-cta) {
      margin-right: 3.2rem; }

.hero {
  height: 60rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to top, #ff8f70, #ff3d54);
  border-bottom-left-radius: 9.6rem;
  background-position: center;
  background-size: cover; }
  @media (min-width: 768px) {
    .hero {
      background-size: 248%;
      background-position: 32% 50%; } }
  .hero__title {
    position: relative;
    text-align: center; }
    .hero__title h1 {
      color: white; }
    .hero__title p {
      color: white;
      font-size: 2rem; }
  .hero__cta {
    margin-top: 4.8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem; }
    @media (min-width: 768px) {
      .hero__cta {
        margin-top: 4.8rem; } }

.feature1 {
  text-align: center; }
  .feature1 .container {
    padding-bottom: 27rem; }
  .feature1 h2 {
    margin-bottom: 7.2rem; }
    @media (min-width: 992px) {
      .feature1 h2 {
        margin-bottom: 16rem; } }
  .feature1__text-item:not(:last-child) {
    margin-bottom: 6rem; }
  .feature1__content {
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .feature1__content {
        display: flex;
        flex-direction: row;
        text-align: left; } }
  .feature1__text {
    order: 2; }
    @media (min-width: 992px) {
      .feature1__text {
        order: 1;
        flex: 1; } }
  .feature1__image {
    order: 1;
    margin: 0 auto;
    margin-bottom: 6rem; }
    @media (min-width: 992px) {
      .feature1__image {
        flex: 1;
        order: 2;
        position: relative; } }
    .feature1__image img {
      width: 100%; }
      @media (min-width: 992px) {
        .feature1__image img {
          content: url(../images/illustration-editor-desktop.svg);
          position: absolute;
          width: 180%;
          top: -85%;
          left: 31%; } }

.feature2 {
  text-align: center;
  background: #3f4164;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: -90px -190px;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 9.6rem;
  border-bottom-left-radius: 9.6rem;
  position: relative; }
  @media (min-width: 992px) {
    .feature2 {
      background-position: -14% 90%;
      background-size: 70%; } }
  .feature2 .container {
    padding-top: 24rem; }
    @media (min-width: 992px) {
      .feature2 .container {
        padding: 12.8rem 2.4rem; } }
  @media (min-width: 992px) {
    .feature2__content {
      display: flex;
      text-align: left; } }
  .feature2__text {
    color: white; }
    @media (min-width: 992px) {
      .feature2__text {
        flex: 1; } }
    .feature2__text h2 {
      color: white; }
  .feature2__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -160px; }
    @media (min-width: 992px) {
      .feature2__image {
        left: 2.4rem;
        transform: none;
        position: relative;
        flex: 1; } }
    .feature2__image img {
      width: 32.7rem; }
      @media (min-width: 992px) {
        .feature2__image img {
          width: 100%;
          position: absolute;
          top: -30px;
          left: -70px; } }

.feature3 {
  text-align: center; }
  @media (min-width: 992px) {
    .feature3 .container {
      padding: 40rem 2.4rem; } }
  .feature3 h2 {
    margin-bottom: 7.2rem; }
    @media (min-width: 992px) {
      .feature3 h2 {
        margin-bottom: 16rem; } }
  .feature3__text-item:not(:last-child) {
    margin-bottom: 6rem; }
  .feature3__content {
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .feature3__content {
        display: flex;
        flex-direction: row;
        text-align: left; } }
  .feature3__text {
    order: 2; }
    @media (min-width: 992px) {
      .feature3__text {
        order: 2;
        flex: 1; } }
  .feature3__image {
    order: 1;
    margin: 0 auto;
    margin-bottom: 6rem;
    display: flex;
    align-content: center;
    justify-content: center; }
    @media (min-width: 992px) {
      .feature3__image {
        flex: 1;
        order: 1;
        position: relative; } }
    .feature3__image img {
      width: 150%; }
      @media (min-width: 992px) {
        .feature3__image img {
          content: url(../images/illustration-laptop-desktop.svg);
          position: absolute;
          width: 180%;
          top: -85%;
          left: -79%; } }

.footer {
  background-color: #25252d;
  text-align: center;
  color: #c8c8cb;
  border-top-right-radius: 9.6rem; }
  .footer .container {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem; }
  @media (min-width: 768px) {
    .footer__grid {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: start; } }
  .footer__logo {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 3.2rem; }
  .footer__links-col:not(:last-child) {
    margin-bottom: 4.8rem; }
  .footer__links-title {
    color: white; }
  .footer a {
    font-weight: 300; }

.heading {
  line-height: 1.2;
  margin: 0;
  color: #1f3f5b;
  font-weight: 600; }

h1,
.heading-1 {
  font-size: 4rem; }
  @media (min-width: 768px) {
    h1,
    .heading-1 {
      font-size: 6.4rem; } }

h2,
.heading-2 {
  font-size: 3.2rem; }
  @media (min-width: 768px) {
    h2,
    .heading-2 {
      font-size: 4rem; } }

h3,
.heading-3 {
  font-size: 2.4rem; }
  @media (min-width: 768px) {
    h3,
    .heading-3 {
      font-size: 3.2rem; } }
