html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $mid-gray;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
  letter-spacing: -0.07rem;
}

//links
a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: inherit;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 2px;
  }
}

//List styles
ul {
  list-style: none;
  padding: 0;
}
//buttons
.button {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-family: inherit;
  background-color: $white;
  border-radius: 100px;
  color: $light-red;
  cursor: pointer;
  border: 0;
  font-weight: 600;
}

.button-secondary {
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
}

//container

.container {
  margin: 0 auto;
  max-width: 111rem;

  &-px {
    padding: 0 2.4rem;
  }

  &-py {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    @include md {
      padding-top: 16rem;
      padding-bottom: 16rem;
    }
  }
}
