header {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 14rem;
  // border: 1px solid yellow;
  display: flex;

  @include md {
    height: 16.8rem;
  }
}

//Topnav
.topnav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  // border: 1px solid green;

  @include md {
    padding: 3.2rem;
  }

  // & > * {
  //   border: 1px solid green;
  // }

  &__logo {
    display: inline-block;

    img {
      width: 8rem;

      @include md {
        width: 10rem;
      }
    }
  }

  &__menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;

    @include md {
      display: none;
    }
  }

  &__links {
    margin-left: 4rem;
    margin-right: auto;
    color: $white;
    display: none;
    padding: 0;
    list-style: none;
    position: relative;

    @include md {
      display: block;
      display: flex;
    }

    a:hover {
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      text-decoration-thickness: 2px;
    }

    a {
      margin-right: 4rem;
    }

    a::after {
      content: "";
      position: absolute;
      transform: translateY(10px);
      margin-left: 0.8rem;
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background: url(../images/icon-arrow-light.svg);
      background-repeat: no-repeat;
    }

    li {
      position: relative;
    }

    li:hover > ul,
    .dropdown:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      background-color: $white;
    }

    .dropdown {
      top: 0;
      color: $darkest-gray;
      background-color: white;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      display: none;
    }
  }

  &__cta {
    display: none;
    color: $white;

    @include md {
      display: block;
    }

    a:not(.button-cta) {
      margin-right: 3.2rem;
    }
  }
}

//Hero
.hero {
  height: 60rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, $light-red, $lighter-red);
  border-bottom-left-radius: 9.6rem;
  overflow: hidden;

  &::before {
    content: "";
    background-image: url(../images/bg-pattern-intro-mobile.svg);
    width: 100%;
    height: 100%;
    background-size: 350%;
    background-repeat: no-repeat;
    background-position: 31% 42%;
    position: absolute;
    top: 0;
    left: 0;

    @include md {
      background-size: 248%;
      background-position: 32% 50%;
    }
  }

  &__title {
    position: relative;
    text-align: center;

    h1 {
      color: white;
    }

    p {
      color: white;
      font-size: $fs-20;
    }
  }

  &__cta {
    margin-top: 4.8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    @include md {
      margin-top: 4.8rem;
    }
  }
}

//
.feature1 {
  text-align: center;

  h2 {
    margin-bottom: 7.2rem;

    @include lg {
      margin-bottom: 16rem;
    }
  }

  &__text-item:not(:last-child) {
    margin-bottom: 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include lg {
      display: flex;
      flex-direction: row;
      text-align: left;
    }
  }

  &__text {
    order: 2;
    @include lg {
      order: 1;
      flex: 1;
    }
  }

  &__image {
    order: 1;
    margin: 0 auto;
    margin-bottom: 6rem;

    @include lg {
      flex: 1;
      order: 2;
      position: relative;
    }

    img {
      width: 100%;

      @include lg {
        content: url(../images/illustration-editor-desktop.svg);
        position: absolute;
        width: 180%;
        top: -85%;
        left: 31%;
      }
    }
  }
}
