header {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 14rem;
  display: flex;

  @include md {
    height: 16.8rem;
  }
}

//Topnav
.topnav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;

  @include md {
    padding: 3.2rem;
  }

  &__logo {
    display: inline-block;

    img {
      width: 8rem;

      @include md {
        width: 10rem;
      }
    }
  }

  &__menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;

    @include md {
      display: none;
    }
  }

  &__links {
    margin-left: 4rem;
    margin-right: auto;
    color: $white;
    display: none;
    padding: 0;
    list-style: none;
    position: relative;

    @include md {
      display: block;
      display: flex;
    }

    a:hover {
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      text-decoration-thickness: 2px;
    }

    a {
      margin-right: 4rem;
    }

    a::after {
      content: "";
      position: absolute;
      transform: translateY(10px);
      margin-left: 0.8rem;
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background: url(../images/icon-arrow-light.svg);
      background-repeat: no-repeat;
    }

    li {
      position: relative;
    }

    li:hover > ul,
    .dropdown:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      background-color: $white;
    }

    .dropdown {
      top: 0;
      color: $darkest-gray;
      background-color: white;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      display: none;
    }
  }

  &__cta {
    display: none;
    color: $white;

    @include md {
      display: block;
    }

    a:not(.button-cta) {
      margin-right: 3.2rem;
    }
  }
}

//Hero
.hero {
  height: 60rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-pattern-intro-mobile.svg),
    linear-gradient(to top, $light-red, $lighter-red);
  border-bottom-left-radius: 9.6rem;
  background-position: center;
  background-size: cover;

  @include md {
    background-size: 248%;
    background-position: 32% 50%;
  }

  &__title {
    position: relative;
    text-align: center;

    h1 {
      color: white;
    }

    p {
      color: white;
      font-size: $fs-20;
    }
  }

  &__cta {
    margin-top: 4.8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    @include md {
      margin-top: 4.8rem;
    }
  }
}

//Feature 1
.feature1 {
  text-align: center;

  .container {
    padding-bottom: 27rem;
  }

  h2 {
    margin-bottom: 7.2rem;

    @include lg {
      margin-bottom: 16rem;
    }
  }

  &__text-item:not(:last-child) {
    margin-bottom: 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include lg {
      display: flex;
      flex-direction: row;
      text-align: left;
    }
  }

  &__text {
    order: 2;
    @include lg {
      order: 1;
      flex: 1;
    }
  }

  &__image {
    order: 1;
    margin: 0 auto;
    margin-bottom: 6rem;

    @include lg {
      flex: 1;
      order: 2;
      position: relative;
    }

    img {
      width: 100%;

      @include lg {
        content: url(../images/illustration-editor-desktop.svg);
        position: absolute;
        width: 180%;
        top: -85%;
        left: 31%;
      }
    }
  }
}

//Feature 2
.feature2 {
  text-align: center;
  background: $dark-blue;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: -90px -190px;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 9.6rem;
  border-bottom-left-radius: 9.6rem;
  position: relative;

  @include lg {
    background-position: -14% 90%;
    background-size: 70%;
  }

  .container {
    padding-top: 24rem;

    @include lg {
      padding: 12.8rem 2.4rem;
    }
  }

  &__content {
    @include lg {
      display: flex;
      text-align: left;
    }
  }

  &__text {
    color: $white;

    @include lg {
      flex: 1;
    }
    h2 {
      color: white;
    }
  }
  &__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -160px;

    @include lg {
      left: 2.4rem;
      transform: none;
      position: relative;
      flex: 1;
    }

    img {
      width: 32.7rem;

      @include lg {
        width: 100%;
        position: absolute;
        top: -30px;
        left: -70px;
      }
    }
  }
}
