// Primary Colors
$light-red: hsl(356, 100%, 66%);
$lighter-red: hsl(355, 100%, 74%);
$dark-blue: hsl(355, 100%, 74%);
$darker-blue: hsl(208, 49%, 24%);

//Grays
$white: hsl(0, 0%, 100%);
$light-gray: hsl(240, 2%, 79%);
$mid-gray: hsl(207, 13%, 34%);
$darkest-gray: hsl(240, 10%, 16%);

//Gradientsgit
// - Very light red: hsl(13, 100%, 72%)
// - Light red: hsl(353, 100%, 62%)

// Background gradient - body:

// - Very dark gray blue: hsl(237, 17%, 21%)
// - Very dark desaturated blue: hsl(237, 23%, 32%)
